* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #F7F7F7;
}

.navbar {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #0080FF;
    align-items: center;
    justify-content: center;
}

    .navbar .container {
        display: flex;
        flex-direction: row;
    }

    .navbar .logo {
        color: #eee;
        margin-left: 0;
        margin-right: 5vw;
        text-decoration: none;
        transition: all 0.1s ease-in-out;
    }

.logo-left {
    margin-top: 10px;
    margin-right: 0;
}

.navbar .logo:hover {
    color: rgb(199, 190, 190);
}

.navbar select {
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid #eee;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    color: #eee;
    text-align: center;
}

    .navbar select:focus {
        transform: scale(1.1);
        background-color: #F7F7F7;
        color: #252525;
        text-align: left;
    }

main {
    display: flex;
    flex-direction: row;
}

.realtime-trends {
    position: relative;
    top: 0;
    height: max-content !important;
    margin-top: calc(5vh + 2px);
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    width: 60%;
    margin-left: 5vw;
    margin-right: 2vw;
    min-width: 20vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    max-height: 800px;
    overflow-y: scroll;
}

    .realtime-trends .live {
        background-color: red;
        color: #fefefe;
        width: 50px;
        height: 20px;
        position: absolute;
        right: 0;
        text-align: center;
        border-radius: 10px;
        margin: 15px;
        animation: blink 1.8s infinite;
        font-weight: 700;
        cursor: pointer;
    }

    .realtime-trends .title {
        animation: blink 2s infinite;
        padding: 15px;
    }

    .realtime-trends .container {
        width: 100%;
    }

    .realtime-trends ol {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 0px;
        width: 100%;
    }

    .realtime-trends li {
        padding: 2vh;
        width: 100%;
        transition: all 0.15s ease-in-out;
        color: #F7F9F8;
        border-bottom: 2px solid #0080FF;
        color: #161A1A;
    }

        .realtime-trends li:first-child {
            box-shadow: none;
        }

        .realtime-trends li:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .realtime-trends li:hover {
            background-color: #d1d1d1;
        }

    .realtime-trends .card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1vw;
    }

        .realtime-trends .card-content .tweet-amount {
            background-color: #E1E8ED;
            border-radius: 5px;
            font-size: 0.7rem;
            font-weight: 600;
            cursor: default;
            margin-top: 10px;
        }

        .realtime-trends .card-content .trending-time {
            font-style: italic;
            color: #252525;
        }

        .realtime-trends .card-content a {
            text-decoration: none;
            background-color: #0080FF;
            border-radius: 5px;
            padding: 0.1vh 0.4vw;
            font-size: 0.9rem;
            margin-left: 10px;
            color: #F7F7F7;
        }

        .realtime-trends .card-content .header {
            font-weight: 600;
            margin-bottom: 5px;
        }


/* TREND TWITTER SECTION */
.trends-twitter {
    position: relative;
    top: 0;
    height: max-content !important;
    margin-top: calc(5vh + 2px);
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    width: 60%;
    margin-right: 5vw;
    min-width: 20vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    max-height: 800px;
    overflow-y: scroll;
}

    .trends-twitter .container {
        width: 100%;
    }

    .trends-twitter .header {
        color: #161A1A;
        font-weight: 600;
        padding: 15px;
    }

    .trends-twitter .title {
        color: #161A1A;
        font-weight: 600;
    }

    .trends-twitter .description {
        color: #647077;
        font-size: 0.9rem;
    }

    .trends-twitter .info {
        color: #647077;
        font-size: 0.9rem;
    }

    .trends-twitter ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 0px;
        width: 100%;
    }

    .trends-twitter li {
        padding: 2vh;
        width: 100%;
        transition: all 0.15s ease-in-out;
        color: #F7F9F8;
        border-bottom: 1px solid #d1d1d1;
    }

        .trends-twitter li:hover {
            background-color: #cacaca80;
        }

    .trends-twitter #hashtag-list .title {
        border: none;
    }

#footer {
    background-color: #0080FF;
    color: #eee;
    text-align: center;
    height: 20vh;
    display: flex;
    align-items: center;
    margin-top: 5vh;
}

    #footer p {
        margin: 0 4vw 0 4vw;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 30px;
        letter-spacing: 1px;
    }

.logo-left {
    width: 100px;
    height: 100px;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #555;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0080FF;
    border-radius: 5px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }




@keyframes blink {
    0% {
        color: #161A1A;
    }

    50% {
        color: #eee;
    }

    100% {
        color: #161A1A;
    }
}

@media only screen and (max-width: 868px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .realtime-trends {
        margin: 0;
        margin-top: 5vh;
        width: 90%;
    }

    .trends-twitter {
        margin: 0;
        margin-top: 5vh;
        width: 90%;
    }

        .trends-twitter li {
            border-bottom: 1px solid #d1d1d1;
        }

    #footer {
        height: 35vh;
    }

    .index {
        float: left;
        margin-right: 5px;
    }
}
